.loading-header {
  padding-top: 20vh;
  padding-bottom: 3rem;
}

/* The size of sine container doesn't matter, its actually controlled in canvas.css */

.sine-container {
  margin: 0 0;
  padding: 0 0;
}

.loading-text-container {
  height: 55vh;
}
