.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.playlist-iframe {
  border-radius: 10px;
}

.playlist-iframe-container {
  padding-top: 2rem;
}
/* 
.rating-header-text {
  height: 15%;
}

.rating-iframe {
  height: 50%;
}

.rating-rating {
  height: 35%;
}

.rating-container {
  height: 100vh;
  width: 100vw;
} */

/* .song-iframe-container {
  width: 40vh;
  height: 50vh;
  min-height: 20rem;
} */
